<h2 class="page-header">Add New Question</h2>
<form (submit)="onQuestionSubmit()">
  <div class="form-group">
    <label style="color:black;">Qusetion Text</label>
    <input type="text" [(ngModel)]="question_body" name="question_body" class="form-control" placeholder="Enter Question text" autofocus >
  </div>
  
  <div class="form-group">
    <label style="color:black;">Answer</label>
    <input type="text" [(ngModel)]="answer" name="answer" class="form-control" placeholder="ans" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Question Number</label>
    <input type="text" [(ngModel)]="question_number" name="question_number" class="form-control" placeholder="Enter Question Number" required>
  </div>
  <div class="form-group">
    <label style="color:black;">Question URL</label>
    <input type="text" [(ngModel)]="url" name="url" class="form-control" placeholder="Enter url" required>
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
  <input type="reset" class="btn btn-primary">
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>