<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
    type="text/css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113721138-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-113721138-2');
  </script>

</head>
<!-- <p> Question no. 
  {{question?.question_number}}
</p>
<p>
  {{question?.question_body}}
</p>
<div id="snackbar">{{alertstring}}</div>
<img src = "../assets/images/image{{question?.question_number}}.png" alt="Question Image"/>
<form class="form-inline" [formGroup]="ansForm" novalidate (ngSubmit)="ansSubmission(ansForm.value)" style="margin-bottom:-25px;">
  <div class="form-group">
    <input class="form-control" [ngModel]="answer" type="string" formControlName="answer" value='' placeholder="answer"/>
  </div>
  <button type="submit" class="btn" [disabled]="!ansForm.valid"><b>submit</b></button>
</form> -->

<body>
  <div class="row">
    <div class="col-md-7 col-sm-11 col-lg-7 ">

      <!-- Linked image -->
      <div class="card">
        <img class="card-img-top img-thumbnail img-responsive" src="{{question?.url}}" alt="">

        <div class="card-body">
          <h5 class="card-title">Question no. {{question?.question_number}}</h5>
          <audio *ngIf="question.question_number==32" controls>
            <source [src]="question.question_body" type="audio/mpeg">
          </audio>
          <form [formGroup]="ansForm" novalidate (ngSubmit)="ansSubmission(ansForm.value)">
            <div class="form-group">
              <input class="form-control" [ngModel]="answer" type="string" formControlName="answer" value=''
                placeholder="Enter Your Answer" />
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <button type="submit" class="btn bg-blue ml-3" [disabled]="!ansForm.valid">Submit<i
                  class="icon-paperplane ml-2"></i></button>
            </div>
          </form>
          <br>
        </div>

      </div>
    </div>
    <div class="col-md-5 col-lg-5 d-none d-md-block">
      <div class="card ">
        <div class="card-header header-elements-inline">
          <h3 class="card-title">Leaderboard</h3>
        </div>

        <div *ngIf="playerList" class="row">
          <div class="table-responsive">
            <table class="table table-sm table-striped ">
              <thead>
                <tr>
                  <th><strong>Rank</strong></th>
                  <th><strong>Avatar</strong></th>
                  <th><strong>Name</strong></th>
                  <th><strong>Current Question</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let player of playerList;">
                  <td>{{player.rank}}</td>
                  <td><img src="{{player.thumbnail}}" alt="User Profile" width="40" height="40" hspace="5"> </td>
                  <td>{{player.username}}</td>
                  <td>{{player.current_question}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /linked image 8390135990 -->
      <!-- <form action="#">
            <div class="form-group">
              <label>Answer</label>
              <input type="text" class="form-control" placeholder="Enter Your Answer">
            </div>
      
            <div class="d-flex justify-content-start align-items-center">
              <button type="submit" class="btn btn-light">Cancel</button>
              <button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
            </div>
          </form> -->

    </div>
  </div>

  <div id="snackbar">{{alertstring}}</div>
</body>